/* You can not modify anything in the HTML */
/* You can only modify the CSS file */

body{
    background-image: url("./assets/bg.png");
}
*{
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  .navbar{
    background-color: rgba(9, 8, 8, 0.601);
    display: flex;
    color: wheat;
    height: 70px;
  }

.logo{
  margin: 10px 20px;
}

.logo img{
  width: 100px;
}

.line{
  content: " ";
  background-color: white;
  height: 30px;
  margin: 25px 20px ;
}

.grow-list{
  display: flex;
  justify-content: end;
}

.list{
  display: flex;
  flex-direction: row;
  gap: 70px;
  margin: 25px 60px;
  color: white;
}

.buytoken{
  margin:15px 30px 25px 300px;
}

.buytoken button{
  background-color:  rgb(209, 90, 209);
  color: white;
  width: 100px;
  padding: 5px;
  /* margin-bottom: 5px; */
  border: 2px solid rgb(209, 90, 209);;
  border-radius: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 400px;
}

.buytoken button:hover{
  background-color: gray;
  color: white;
  transition: ease 0.4s;
  border: white 2px solid

}
  
/* Hero section */
.hero {
  color: white;
  align-items: center;
  justify-content: center;
  /* display: flex; */
  flex-wrap: wrap;
  width: 1200px;

}

.hero h1{
  font-size: 90px;
  /* flex-wrap: wrap; */
  margin-left: 400px;
  margin-top: 50px;
}


.hero p{
  font-size: 30px;
  /* flex-wrap: wrap; */
  margin-left: 500px;
  margin-top:30px;
}

.hero button{
  font-size: 20px;
  /* flex-wrap: wrap; */
  margin-left: 700px;
  margin-top:30px;
  padding: 8px;
  background-color: rgb(209, 90, 209);
  color: white;
  border:2px solid rgb(227, 70, 227);
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

.hero button:hover{
  color: gray;
  border: 2px solid pink;
  border-radius: 15px;
  background-color: white;
  transition: ease 0.4s;
  cursor:wait;
  
}
